$typography: (
    heading-1: (
        font-size: 48px,
        font-weight: 400,
        font-family: Roboto,
    ),
    heading-2: (
        font-size: 32px,
        font-weight: 400,
        font-family: Roboto,
    ),
    heading-3: (
        font-size: 24px,
        font-weight: 400,
        font-family: Roboto,
    ),

    body-1: (
        font-size: 24px,
        font-weight: 400,
        font-family: Roboto,
    ),
    body-2: (
        font-size: 16px,
        font-weight: 400,
        font-family: Roboto,
    ),
    body-3: (
        font-size: 12px,
        font-weight: 400,
        font-family: Roboto,
    ),

    body-mono-1: (
        font-size: 24px,
        font-weight: 400,
        font-family: Roboto Mono,
    ),
    body-mono-2: (
        font-size: 16px,
        font-weight: 400,
        font-family: Roboto Mono,
    ),
    body-mono-3: (
        font-size: 12px,
        font-weight: 400,
        font-family: Roboto Mono,
    )
);
