@font-face {
    font-family: Roboto;
    src:
        local('Roboto'),
        url('@/assets/fonts/Roboto/Roboto-Regular.woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src:
        local('Roboto'),
        url('@/assets/fonts/Roboto Mono/RobotoMono.woff');
    font-style: normal;
}
