$colors: (
    black: #1A1A1B,
    black-dim: #232329,
    gray: #999999,
    gray-light: #EEF4FF,
    white: #FFFFFF,

    dark-blue: #1D1D23,
    yellow: #C79E0E,
    violet: #76469C,
    green: #12383A,
    light-green: #366466,
    pink: #FFC8DF,

    header-bg-color: #24242C,
);
